certifi            
cffi               
charset-normalizer 
cloudpickle       
cycler             
Cython             
decorator          
distlib           
dotmap             
fasteners          
filelock           
fonttools         
glfw==2.5.3
gym==0.24.0
gym-notices==0.0.7
idna               
imageio==2.19.3
imageio-ffmpeg    
importlib-metadata 
kiwisolver         
matplotlib==3.5.2
moviepy==1.0.3
mujoco-py==2.0.2.13
numpy==1.22.4
opencv-python      
packaging         
Pillow             
pip                
platformdirs       
plotly==5.8.0
proglog==0.1.10
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
requests         
scipy              
setuptools         
six                
tenacity           
torch==1.11.0
torchvision        
tqdm==4.64.0
typing_extensions  
urllib3           
virtualenv         
wheel              
zipp  